.items-STONE { left: 0px; top: 0px; }
.items-GRANITE { left: 128px; top: 0px; }
.items-POLISHED_GRANITE { left: 256px; top: 0px; }
.items-DIORITE { left: 384px; top: 0px; }
.items-POLISHED_DIORITE { left: 512px; top: 0px; }
.items-ANDESITE { left: 640px; top: 0px; }
.items-POLISHED_ANDESITE { left: 768px; top: 0px; }
.items-GRASS_BLOCK { left: 896px; top: 0px; }
.items-DIRT { left: 1024px; top: 0px; }
.items-COARSE_DIRT { left: 1152px; top: 0px; }
.items-PODZOL { left: 1280px; top: 0px; }
.items-COBBLESTONE { left: 1408px; top: 0px; }
.items-OAK_WOOD_PLANKS { left: 1536px; top: 0px; }
.items-SPRUCE_WOOD_PLANKS { left: 1664px; top: 0px; }
.items-BIRCH_WOOD_PLANKS { left: 1792px; top: 0px; }
.items-JUNGLE_WOOD_PLANKS { left: 1920px; top: 0px; }
.items-ACACIA_WOOD_PLANKS { left: 2048px; top: 0px; }
.items-DARK_OAK_WOOD_PLANKS { left: 2176px; top: 0px; }
.items-OAK_SAPLING { left: 2304px; top: 0px; }
.items-SPRUCE_SAPLING { left: 2432px; top: 0px; }
.items-BIRCH_SAPLING { left: 2560px; top: 0px; }
.items-JUNGLE_SAPLING { left: 2688px; top: 0px; }
.items-ACACIA_SAPLING { left: 2816px; top: 0px; }
.items-DARK_OAK_SAPLING { left: 2944px; top: 0px; }
.items-BEDROCK { left: 3072px; top: 0px; }
.items-SAND { left: 3200px; top: 0px; }
.items-RED_SAND { left: 3328px; top: 0px; }
.items-GRAVEL { left: 3456px; top: 0px; }
.items-GOLD_ORE { left: 3584px; top: 0px; }
.items-IRON_ORE { left: 3712px; top: 0px; }
.items-COAL_ORE { left: 3840px; top: 0px; }
.items-OAK_WOOD { left: 3968px; top: 0px; }
.items-SPRUCE_WOOD { left: 0px; top: 128px; }
.items-BIRCH_WOOD { left: 128px; top: 128px; }
.items-JUNGLE_WOOD { left: 256px; top: 128px; }
.items-OAK_LEAVES { left: 384px; top: 128px; }
.items-SPRUCE_LEAVES { left: 512px; top: 128px; }
.items-BIRCH_LEAVES { left: 640px; top: 128px; }
.items-JUNGLE_LEAVES { left: 768px; top: 128px; }
.items-SPONGE { left: 896px; top: 128px; }
.items-WET_SPONGE { left: 1024px; top: 128px; }
.items-GLASS { left: 1152px; top: 128px; }
.items-LAPIS_LAZULI_ORE { left: 1280px; top: 128px; }
.items-LAPIS_LAZULI_BLOCK { left: 1408px; top: 128px; }
.items-DISPENSER { left: 1536px; top: 128px; }
.items-SANDSTONE { left: 1664px; top: 128px; }
.items-CHISELED_SANDSTONE { left: 1792px; top: 128px; }
.items-SMOOTH_SANDSTONE { left: 1920px; top: 128px; }
.items-NOTE_BLOCK { left: 2048px; top: 128px; }
.items-POWERED_RAIL { left: 2176px; top: 128px; }
.items-DETECTOR_RAIL { left: 2304px; top: 128px; }
.items-STICKY_PISTON { left: 2432px; top: 128px; }
.items-COBWEB { left: 2560px; top: 128px; }
.items-GRASS { left: 2688px; top: 128px; }
.items-FERN { left: 2816px; top: 128px; }
.items-DEAD_BUSH { left: 2944px; top: 128px; }
.items-PISTON { left: 3072px; top: 128px; }
.items-WOOL { left: 3200px; top: 128px; }
.items-ORANGE_WOOL { left: 3328px; top: 128px; }
.items-MAGENTA_WOOL { left: 3456px; top: 128px; }
.items-LIGHT_BLUE_WOOL { left: 3584px; top: 128px; }
.items-YELLOW_WOOL { left: 3712px; top: 128px; }
.items-LIME_WOOL { left: 3840px; top: 128px; }
.items-PINK_WOOL { left: 3968px; top: 128px; }
.items-GRAY_WOOL { left: 0px; top: 256px; }
.items-LIGHT_GRAY_WOOL { left: 128px; top: 256px; }
.items-CYAN_WOOL { left: 256px; top: 256px; }
.items-PURPLE_WOOL { left: 384px; top: 256px; }
.items-BLUE_WOOL { left: 512px; top: 256px; }
.items-BROWN_WOOL { left: 640px; top: 256px; }
.items-GREEN_WOOL { left: 768px; top: 256px; }
.items-RED_WOOL { left: 896px; top: 256px; }
.items-BLACK_WOOL { left: 1024px; top: 256px; }
.items-DANDELION { left: 1152px; top: 256px; }
.items-POPPY { left: 1280px; top: 256px; }
.items-BLUE_ORCHID { left: 1408px; top: 256px; }
.items-ALLIUM { left: 1536px; top: 256px; }
.items-AZURE_BLUET { left: 1664px; top: 256px; }
.items-RED_TULIP { left: 1792px; top: 256px; }
.items-ORANGE_TULIP { left: 1920px; top: 256px; }
.items-WHITE_TULIP { left: 2048px; top: 256px; }
.items-PINK_TULIP { left: 2176px; top: 256px; }
.items-OXEYE_DAISY { left: 2304px; top: 256px; }
.items-MUSHROOM { left: 2432px; top: 256px; }
.items-MUSHROOM { left: 2560px; top: 256px; }
.items-BLOCK_OF_GOLD { left: 2688px; top: 256px; }
.items-BLOCK_OF_IRON { left: 2816px; top: 256px; }
.items-STONE_SLAB { left: 2944px; top: 256px; }
.items-SANDSTONE_SLAB { left: 3072px; top: 256px; }
.items-COBBLESTONE_SLAB { left: 3200px; top: 256px; }
.items-BRICKS_SLAB { left: 3328px; top: 256px; }
.items-STONE_BRICKS_SLAB { left: 3456px; top: 256px; }
.items-NETHER_BRICK_SLAB { left: 3584px; top: 256px; }
.items-QUARTZ_SLAB { left: 3712px; top: 256px; }
.items-BRICKS { left: 3840px; top: 256px; }
.items-TNT { left: 3968px; top: 256px; }
.items-BOOKSHELF { left: 0px; top: 384px; }
.items-MOSS_STONE { left: 128px; top: 384px; }
.items-OBSIDIAN { left: 256px; top: 384px; }
.items-TORCH { left: 384px; top: 384px; }
.items-MONSTER_SPAWNER { left: 512px; top: 384px; }
.items-OAK_WOOD_STAIRS { left: 640px; top: 384px; }
.items-CHEST { left: 768px; top: 384px; }
.items-DIAMOND_ORE { left: 896px; top: 384px; }
.items-BLOCK_OF_DIAMOND { left: 1024px; top: 384px; }
.items-CRAFTING_TABLE { left: 1152px; top: 384px; }
.items-FURNACE { left: 1280px; top: 384px; }
.items-LADDER { left: 1408px; top: 384px; }
.items-RAIL { left: 1536px; top: 384px; }
.items-COBBLESTONE_STAIRS { left: 1664px; top: 384px; }
.items-LEVER { left: 1792px; top: 384px; }
.items-STONE_PRESSURE_PLATE { left: 1920px; top: 384px; }
.items-WOODEN_PRESSURE_PLATE { left: 2048px; top: 384px; }
.items-REDSTONE_ORE { left: 2176px; top: 384px; }
.items-REDSTONE_TORCH { left: 2304px; top: 384px; }
.items-BUTTON { left: 2432px; top: 384px; }
.items-SNOW { left: 2560px; top: 384px; }
.items-ICE { left: 2688px; top: 384px; }
.items-SNOW { left: 2816px; top: 384px; }
.items-CACTUS { left: 2944px; top: 384px; }
.items-CLAY { left: 3072px; top: 384px; }
.items-JUKEBOX { left: 3200px; top: 384px; }
.items-OAK_FENCE { left: 3328px; top: 384px; }
.items-PUMPKIN { left: 3456px; top: 384px; }
.items-NETHERRACK { left: 3584px; top: 384px; }
.items-SOUL_SAND { left: 3712px; top: 384px; }
.items-GLOWSTONE { left: 3840px; top: 384px; }
.items-JACK_O'LANTERN { left: 3968px; top: 384px; }
.items-WHITE_STAINED_GLASS { left: 0px; top: 512px; }
.items-ORANGE_STAINED_GLASS { left: 128px; top: 512px; }
.items-MAGENTA_STAINED_GLASS { left: 256px; top: 512px; }
.items-LIGHT_BLUE_STAINED_GLASS { left: 384px; top: 512px; }
.items-YELLOW_STAINED_GLASS { left: 512px; top: 512px; }
.items-LIME_STAINED_GLASS { left: 640px; top: 512px; }
.items-PINK_STAINED_GLASS { left: 768px; top: 512px; }
.items-GRAY_STAINED_GLASS { left: 896px; top: 512px; }
.items-LIGHT_GRAY_STAINED_GLASS { left: 1024px; top: 512px; }
.items-CYAN_STAINED_GLASS { left: 1152px; top: 512px; }
.items-PURPLE_STAINED_GLASS { left: 1280px; top: 512px; }
.items-BLUE_STAINED_GLASS { left: 1408px; top: 512px; }
.items-BROWN_STAINED_GLASS { left: 1536px; top: 512px; }
.items-GREEN_STAINED_GLASS { left: 1664px; top: 512px; }
.items-RED_STAINED_GLASS { left: 1792px; top: 512px; }
.items-BLACK_STAINED_GLASS { left: 1920px; top: 512px; }
.items-WOODEN_TRAPDOOR { left: 2048px; top: 512px; }
.items-STONE_MONSTER_EGG { left: 2176px; top: 512px; }
.items-COBBLESTONE_MONSTER_EGG { left: 2304px; top: 512px; }
.items-STONE_BRICK_MONSTER_EGG { left: 2432px; top: 512px; }
.items-MOSSY_STONE_BRICK_MONSTER_EGG { left: 2560px; top: 512px; }
.items-CRACKED_STONE_BRICK_MONSTER_EGG { left: 2688px; top: 512px; }
.items-CHISELED_STONE_BRICK_MONSTER_EGG { left: 2816px; top: 512px; }
.items-STONE_BRICKS { left: 2944px; top: 512px; }
.items-MOSSY_STONE_BRICKS { left: 3072px; top: 512px; }
.items-CRACKED_STONE_BRICKS { left: 3200px; top: 512px; }
.items-CHISELED_STONE_BRICKS { left: 3328px; top: 512px; }
.items-MUSHROOM { left: 3456px; top: 512px; }
.items-MUSHROOM { left: 3584px; top: 512px; }
.items-IRON_BARS { left: 3712px; top: 512px; }
.items-GLASS_PANE { left: 3840px; top: 512px; }
.items-MELON { left: 3968px; top: 512px; }
.items-VINES { left: 0px; top: 640px; }
.items-OAK_FENCE_GATE { left: 128px; top: 640px; }
.items-BRICK_STAIRS { left: 256px; top: 640px; }
.items-STONE_BRICK_STAIRS { left: 384px; top: 640px; }
.items-MYCELIUM { left: 512px; top: 640px; }
.items-LILY_PAD { left: 640px; top: 640px; }
.items-NETHER_BRICK { left: 768px; top: 640px; }
.items-NETHER_BRICK_FENCE { left: 896px; top: 640px; }
.items-NETHER_BRICK_STAIRS { left: 1024px; top: 640px; }
.items-ENCHANTMENT_TABLE { left: 1152px; top: 640px; }
.items-END_PORTAL { left: 1280px; top: 640px; }
.items-END_STONE { left: 1408px; top: 640px; }
.items-DRAGON_EGG { left: 1536px; top: 640px; }
.items-REDSTONE_LAMP { left: 1664px; top: 640px; }
.items-OAK_WOOD_SLAB { left: 1792px; top: 640px; }
.items-SPRUCE_WOOD_SLAB { left: 1920px; top: 640px; }
.items-BIRCH_WOOD_SLAB { left: 2048px; top: 640px; }
.items-JUNGLE_WOOD_SLAB { left: 2176px; top: 640px; }
.items-ACACIA_WOOD_SLAB { left: 2304px; top: 640px; }
.items-DARK_OAK_WOOD_SLAB { left: 2432px; top: 640px; }
.items-SANDSTONE_STAIRS { left: 2560px; top: 640px; }
.items-EMERALD_ORE { left: 2688px; top: 640px; }
.items-ENDER_CHEST { left: 2816px; top: 640px; }
.items-TRIPWIRE_HOOK { left: 2944px; top: 640px; }
.items-BLOCK_OF_EMERALD { left: 3072px; top: 640px; }
.items-SPRUCE_WOOD_STAIRS { left: 3200px; top: 640px; }
.items-BIRCH_WOOD_STAIRS { left: 3328px; top: 640px; }
.items-JUNGLE_WOOD_STAIRS { left: 3456px; top: 640px; }
.items-COMMAND_BLOCK { left: 3584px; top: 640px; }
.items-BEACON { left: 3712px; top: 640px; }
.items-COBBLESTONE_WALL { left: 3840px; top: 640px; }
.items-MOSSY_COBBLESTONE_WALL { left: 3968px; top: 640px; }
.items-BUTTON { left: 0px; top: 768px; }
.items-ANVIL { left: 128px; top: 768px; }
.items-SLIGHTLY_DAMAGED_ANVIL { left: 256px; top: 768px; }
.items-VERY_DAMAGED_ANVIL { left: 384px; top: 768px; }
.items-TRAPPED_CHEST { left: 512px; top: 768px; }
.items-WEIGHTED_PRESSURE_PLATE_(LIGHT) { left: 640px; top: 768px; }
.items-WEIGHTED_PRESSURE_PLATE_(HEAVY) { left: 768px; top: 768px; }
.items-DAYLIGHT_SENSOR { left: 896px; top: 768px; }
.items-BLOCK_OF_REDSTONE { left: 1024px; top: 768px; }
.items-NETHER_QUARTZ_ORE { left: 1152px; top: 768px; }
.items-HOPPER { left: 1280px; top: 768px; }
.items-BLOCK_OF_QUARTZ { left: 1408px; top: 768px; }
.items-CHISELED_QUARTZ_BLOCK { left: 1536px; top: 768px; }
.items-PILLAR_QUARTZ_BLOCK { left: 1664px; top: 768px; }
.items-QUARTZ_STAIRS { left: 1792px; top: 768px; }
.items-ACTIVATOR_RAIL { left: 1920px; top: 768px; }
.items-DROPPER { left: 2048px; top: 768px; }
.items-WHITE_STAINED_CLAY { left: 2176px; top: 768px; }
.items-ORANGE_STAINED_CLAY { left: 2304px; top: 768px; }
.items-MAGENTA_STAINED_CLAY { left: 2432px; top: 768px; }
.items-LIGHT_BLUE_STAINED_CLAY { left: 2560px; top: 768px; }
.items-YELLOW_STAINED_CLAY { left: 2688px; top: 768px; }
.items-LIME_STAINED_CLAY { left: 2816px; top: 768px; }
.items-PINK_STAINED_CLAY { left: 2944px; top: 768px; }
.items-GRAY_STAINED_CLAY { left: 3072px; top: 768px; }
.items-LIGHT_GRAY_STAINED_CLAY { left: 3200px; top: 768px; }
.items-CYAN_STAINED_CLAY { left: 3328px; top: 768px; }
.items-PURPLE_STAINED_CLAY { left: 3456px; top: 768px; }
.items-BLUE_STAINED_CLAY { left: 3584px; top: 768px; }
.items-BROWN_STAINED_CLAY { left: 3712px; top: 768px; }
.items-GREEN_STAINED_CLAY { left: 3840px; top: 768px; }
.items-RED_STAINED_CLAY { left: 3968px; top: 768px; }
.items-BLACK_STAINED_CLAY { left: 0px; top: 896px; }
.items-WHITE_STAINED_GLASS_PANE { left: 128px; top: 896px; }
.items-ORANGE_STAINED_GLASS_PANE { left: 256px; top: 896px; }
.items-MAGENTA_STAINED_GLASS_PANE { left: 384px; top: 896px; }
.items-LIGHT_BLUE_STAINED_GLASS_PANE { left: 512px; top: 896px; }
.items-YELLOW_STAINED_GLASS_PANE { left: 640px; top: 896px; }
.items-LIME_STAINED_GLASS_PANE { left: 768px; top: 896px; }
.items-PINK_STAINED_GLASS_PANE { left: 896px; top: 896px; }
.items-GRAY_STAINED_GLASS_PANE { left: 1024px; top: 896px; }
.items-LIGHT_GRAY_STAINED_GLASS_PANE { left: 1152px; top: 896px; }
.items-CYAN_STAINED_GLASS_PANE { left: 1280px; top: 896px; }
.items-PURPLE_STAINED_GLASS_PANE { left: 1408px; top: 896px; }
.items-BLUE_STAINED_GLASS_PANE { left: 1536px; top: 896px; }
.items-BROWN_STAINED_GLASS_PANE { left: 1664px; top: 896px; }
.items-GREEN_STAINED_GLASS_PANE { left: 1792px; top: 896px; }
.items-RED_STAINED_GLASS_PANE { left: 1920px; top: 896px; }
.items-BLACK_STAINED_GLASS_PANE { left: 2048px; top: 896px; }
.items-ACACIA_LEAVES { left: 2176px; top: 896px; }
.items-DARK_OAK_LEAVES { left: 2304px; top: 896px; }
.items-ACACIA_WOOD { left: 2432px; top: 896px; }
.items-DARK_OAK_WOOD { left: 2560px; top: 896px; }
.items-ACACIA_WOOD_STAIRS { left: 2688px; top: 896px; }
.items-DARK_OAK_WOOD_STAIRS { left: 2816px; top: 896px; }
.items-SLIME_BLOCK { left: 2944px; top: 896px; }
.items-BARRIER { left: 3072px; top: 896px; }
.items-IRON_TRAPDOOR { left: 3200px; top: 896px; }
.items-PRISMARINE { left: 3328px; top: 896px; }
.items-PRISMARINE_BRICKS { left: 3456px; top: 896px; }
.items-DARK_PRISMARINE { left: 3584px; top: 896px; }
.items-SEA_LANTERN { left: 3712px; top: 896px; }
.items-HAY_BALE { left: 3840px; top: 896px; }
.items-CARPET { left: 3968px; top: 896px; }
.items-ORANGE_CARPET { left: 0px; top: 1024px; }
.items-MAGENTA_CARPET { left: 128px; top: 1024px; }
.items-LIGHT_BLUE_CARPET { left: 256px; top: 1024px; }
.items-YELLOW_CARPET { left: 384px; top: 1024px; }
.items-LIME_CARPET { left: 512px; top: 1024px; }
.items-PINK_CARPET { left: 640px; top: 1024px; }
.items-GRAY_CARPET { left: 768px; top: 1024px; }
.items-LIGHT_GRAY_CARPET { left: 896px; top: 1024px; }
.items-CYAN_CARPET { left: 1024px; top: 1024px; }
.items-PURPLE_CARPET { left: 1152px; top: 1024px; }
.items-BLUE_CARPET { left: 1280px; top: 1024px; }
.items-BROWN_CARPET { left: 1408px; top: 1024px; }
.items-GREEN_CARPET { left: 1536px; top: 1024px; }
.items-RED_CARPET { left: 1664px; top: 1024px; }
.items-BLACK_CARPET { left: 1792px; top: 1024px; }
.items-HARDENED_CLAY { left: 1920px; top: 1024px; }
.items-BLOCK_OF_COAL { left: 2048px; top: 1024px; }
.items-PACKED_ICE { left: 2176px; top: 1024px; }
.items-SUNFLOWER { left: 2304px; top: 1024px; }
.items-LILAC { left: 2432px; top: 1024px; }
.items-DOUBLE_TALLGRASS { left: 2560px; top: 1024px; }
.items-LARGE_FERN { left: 2688px; top: 1024px; }
.items-ROSE_BUSH { left: 2816px; top: 1024px; }
.items-PEONY { left: 2944px; top: 1024px; }
.items-RED_SANDSTONE { left: 3072px; top: 1024px; }
.items-CHISELED_RED_SANDSTONE { left: 3200px; top: 1024px; }
.items-SMOOTH_RED_SANDSTONE { left: 3328px; top: 1024px; }
.items-RED_SANDSTONE_STAIRS { left: 3456px; top: 1024px; }
.items-RED_SANDSTONE_SLAB { left: 3584px; top: 1024px; }
.items-SPRUCE_FENCE_GATE { left: 3712px; top: 1024px; }
.items-BIRCH_FENCE_GATE { left: 3840px; top: 1024px; }
.items-JUNGLE_FENCE_GATE { left: 3968px; top: 1024px; }
.items-DARK_OAK_FENCE_GATE { left: 0px; top: 1152px; }
.items-ACACIA_FENCE_GATE { left: 128px; top: 1152px; }
.items-SPRUCE_FENCE { left: 256px; top: 1152px; }
.items-BIRCH_FENCE { left: 384px; top: 1152px; }
.items-JUNGLE_FENCE { left: 512px; top: 1152px; }
.items-DARK_OAK_FENCE { left: 640px; top: 1152px; }
.items-ACACIA_FENCE { left: 768px; top: 1152px; }
.items-IRON_SHOVEL { left: 896px; top: 1152px; }
.items-IRON_PICKAXE { left: 1024px; top: 1152px; }
.items-IRON_AXE { left: 1152px; top: 1152px; }
.items-FLINT_AND_STEEL { left: 1280px; top: 1152px; }
.items-APPLE { left: 1408px; top: 1152px; }
.items-BOW { left: 1536px; top: 1152px; }
.items-ARROW { left: 1664px; top: 1152px; }
.items-COAL { left: 1792px; top: 1152px; }
.items-CHARCOAL { left: 1920px; top: 1152px; }
.items-DIAMOND { left: 2048px; top: 1152px; }
.items-IRON_INGOT { left: 2176px; top: 1152px; }
.items-GOLD_INGOT { left: 2304px; top: 1152px; }
.items-IRON_SWORD { left: 2432px; top: 1152px; }
.items-WOODEN_SWORD { left: 2560px; top: 1152px; }
.items-WOODEN_SHOVEL { left: 2688px; top: 1152px; }
.items-WOODEN_PICKAXE { left: 2816px; top: 1152px; }
.items-WOODEN_AXE { left: 2944px; top: 1152px; }
.items-STONE_SWORD { left: 3072px; top: 1152px; }
.items-STONE_SHOVEL { left: 3200px; top: 1152px; }
.items-STONE_PICKAXE { left: 3328px; top: 1152px; }
.items-STONE_AXE { left: 3456px; top: 1152px; }
.items-DIAMOND_SWORD { left: 3584px; top: 1152px; }
.items-DIAMOND_SHOVEL { left: 3712px; top: 1152px; }
.items-DIAMOND_PICKAXE { left: 3840px; top: 1152px; }
.items-DIAMOND_AXE { left: 3968px; top: 1152px; }
.items-STICK { left: 0px; top: 1280px; }
.items-BOWL { left: 128px; top: 1280px; }
.items-MUSHROOM_STEW { left: 256px; top: 1280px; }
.items-GOLDEN_SWORD { left: 384px; top: 1280px; }
.items-GOLDEN_SHOVEL { left: 512px; top: 1280px; }
.items-GOLDEN_PICKAXE { left: 640px; top: 1280px; }
.items-GOLDEN_AXE { left: 768px; top: 1280px; }
.items-STRING { left: 896px; top: 1280px; }
.items-FEATHER { left: 1024px; top: 1280px; }
.items-GUNPOWDER { left: 1152px; top: 1280px; }
.items-WOODEN_HOE { left: 1280px; top: 1280px; }
.items-STONE_HOE { left: 1408px; top: 1280px; }
.items-IRON_HOE { left: 1536px; top: 1280px; }
.items-DIAMOND_HOE { left: 1664px; top: 1280px; }
.items-GOLDEN_HOE { left: 1792px; top: 1280px; }
.items-SEEDS { left: 1920px; top: 1280px; }
.items-WHEAT { left: 2048px; top: 1280px; }
.items-BREAD { left: 2176px; top: 1280px; }
.items-LEATHER_CAP { left: 2304px; top: 1280px; }
.items-LEATHER_TUNIC { left: 2432px; top: 1280px; }
.items-LEATHER_PANTS { left: 2560px; top: 1280px; }
.items-LEATHER_BOOTS { left: 2688px; top: 1280px; }
.items-CHAIN_HELMET { left: 2816px; top: 1280px; }
.items-CHAIN_CHESTPLATE { left: 2944px; top: 1280px; }
.items-CHAIN_LEGGINGS { left: 3072px; top: 1280px; }
.items-CHAIN_BOOTS { left: 3200px; top: 1280px; }
.items-IRON_HELMET { left: 3328px; top: 1280px; }
.items-IRON_CHESTPLATE { left: 3456px; top: 1280px; }
.items-IRON_LEGGINGS { left: 3584px; top: 1280px; }
.items-IRON_BOOTS { left: 3712px; top: 1280px; }
.items-DIAMOND_HELMET { left: 3840px; top: 1280px; }
.items-DIAMOND_CHESTPLATE { left: 3968px; top: 1280px; }
.items-DIAMOND_LEGGINGS { left: 0px; top: 1408px; }
.items-DIAMOND_BOOTS { left: 128px; top: 1408px; }
.items-GOLDEN_HELMET { left: 256px; top: 1408px; }
.items-GOLDEN_CHESTPLATE { left: 384px; top: 1408px; }
.items-GOLDEN_LEGGINGS { left: 512px; top: 1408px; }
.items-GOLDEN_BOOTS { left: 640px; top: 1408px; }
.items-FLINT { left: 768px; top: 1408px; }
.items-RAW_PORKCHOP { left: 896px; top: 1408px; }
.items-COOKED_PORKCHOP { left: 1024px; top: 1408px; }
.items-PAINTING { left: 1152px; top: 1408px; }
.items-GOLDEN_APPLE { left: 1280px; top: 1408px; }
.items-GOLDEN_APPLE { left: 1408px; top: 1408px; }
.items-SIGN { left: 1536px; top: 1408px; }
.items-OAK_DOOR { left: 1664px; top: 1408px; }
.items-BUCKET { left: 1792px; top: 1408px; }
.items-WATER_BUCKET { left: 1920px; top: 1408px; }
.items-LAVA_BUCKET { left: 2048px; top: 1408px; }
.items-MINECART { left: 2176px; top: 1408px; }
.items-SADDLE { left: 2304px; top: 1408px; }
.items-IRON_DOOR { left: 2432px; top: 1408px; }
.items-REDSTONE { left: 2560px; top: 1408px; }
.items-SNOWBALL { left: 2688px; top: 1408px; }
.items-BOAT { left: 2816px; top: 1408px; }
.items-LEATHER { left: 2944px; top: 1408px; }
.items-MILK { left: 3072px; top: 1408px; }
.items-BRICK { left: 3200px; top: 1408px; }
.items-CLAY { left: 3328px; top: 1408px; }
.items-SUGAR_CANES { left: 3456px; top: 1408px; }
.items-PAPER { left: 3584px; top: 1408px; }
.items-BOOK { left: 3712px; top: 1408px; }
.items-SLIMEBALL { left: 3840px; top: 1408px; }
.items-MINECART_WITH_CHEST { left: 3968px; top: 1408px; }
.items-MINECART_WITH_FURNACE { left: 0px; top: 1536px; }
.items-EGG { left: 128px; top: 1536px; }
.items-COMPASS { left: 256px; top: 1536px; }
.items-FISHING_ROD { left: 384px; top: 1536px; }
.items-CLOCK { left: 512px; top: 1536px; }
.items-GLOWSTONE_DUST { left: 640px; top: 1536px; }
.items-RAW_FISH { left: 768px; top: 1536px; }
.items-RAW_SALMON { left: 896px; top: 1536px; }
.items-CLOWNFISH { left: 1024px; top: 1536px; }
.items-PUFFERFISH { left: 1152px; top: 1536px; }
.items-COOKED_FISH { left: 1280px; top: 1536px; }
.items-COOKED_SALMON { left: 1408px; top: 1536px; }
.items-INK_SAC { left: 1536px; top: 1536px; }
.items-ROSE_RED { left: 1664px; top: 1536px; }
.items-CACTUS_GREEN { left: 1792px; top: 1536px; }
.items-COCOA_BEANS { left: 1920px; top: 1536px; }
.items-LAPIS_LAZULI { left: 2048px; top: 1536px; }
.items-PURPLE_DYE { left: 2176px; top: 1536px; }
.items-CYAN_DYE { left: 2304px; top: 1536px; }
.items-LIGHT_GRAY_DYE { left: 2432px; top: 1536px; }
.items-GRAY_DYE { left: 2560px; top: 1536px; }
.items-PINK_DYE { left: 2688px; top: 1536px; }
.items-LIME_DYE { left: 2816px; top: 1536px; }
.items-DANDELION_YELLOW { left: 2944px; top: 1536px; }
.items-LIGHT_BLUE_DYE { left: 3072px; top: 1536px; }
.items-MAGENTA_DYE { left: 3200px; top: 1536px; }
.items-ORANGE_DYE { left: 3328px; top: 1536px; }
.items-BONE_MEAL { left: 3456px; top: 1536px; }
.items-BONE { left: 3584px; top: 1536px; }
.items-SUGAR { left: 3712px; top: 1536px; }
.items-CAKE { left: 3840px; top: 1536px; }
.items-BED { left: 3968px; top: 1536px; }
.items-REDSTONE_REPEATER { left: 0px; top: 1664px; }
.items-COOKIE { left: 128px; top: 1664px; }
.items-MAP { left: 256px; top: 1664px; }
.items-SHEARS { left: 384px; top: 1664px; }
.items-MELON { left: 512px; top: 1664px; }
.items-PUMPKIN_SEEDS { left: 640px; top: 1664px; }
.items-MELON_SEEDS { left: 768px; top: 1664px; }
.items-RAW_BEEF { left: 896px; top: 1664px; }
.items-STEAK { left: 1024px; top: 1664px; }
.items-RAW_CHICKEN { left: 1152px; top: 1664px; }
.items-COOKED_CHICKEN { left: 1280px; top: 1664px; }
.items-ROTTEN_FLESH { left: 1408px; top: 1664px; }
.items-ENDER_PEARL { left: 1536px; top: 1664px; }
.items-BLAZE_ROD { left: 1664px; top: 1664px; }
.items-GHAST_TEAR { left: 1792px; top: 1664px; }
.items-GOLD_NUGGET { left: 1920px; top: 1664px; }
.items-NETHER_WART { left: 2048px; top: 1664px; }
.items-WATER_BOTTLE { left: 2176px; top: 1664px; }
.items-POTION_OF_REGENERATION { left: 2304px; top: 1664px; }
.items-POTION_OF_REGENERATION { left: 2432px; top: 1664px; }
.items-POTION_OF_REGENERATION { left: 2560px; top: 1664px; }
.items-SPLASH_POTION_OF_REGENERATION { left: 2688px; top: 1664px; }
.items-SPLASH_POTION_OF_REGENERATION { left: 2816px; top: 1664px; }
.items-SPLASH_POTION_OF_REGENERATION { left: 2944px; top: 1664px; }
.items-POTION_OF_SWIFTNESS { left: 3072px; top: 1664px; }
.items-POTION_OF_SWIFTNESS { left: 3200px; top: 1664px; }
.items-POTION_OF_SWIFTNESS { left: 3328px; top: 1664px; }
.items-SPLASH_POTION_OF_SWIFTNESS { left: 3456px; top: 1664px; }
.items-SPLASH_POTION_OF_SWIFTNESS { left: 3584px; top: 1664px; }
.items-SPLASH_POTION_OF_SWIFTNESS { left: 3712px; top: 1664px; }
.items-POTION_OF_FIRE_RESISTANCE { left: 3840px; top: 1664px; }
.items-POTION_OF_FIRE_RESISTANCE { left: 3968px; top: 1664px; }
.items-SPLASH_POTION_OF_FIRE_RESISTANCE { left: 0px; top: 1792px; }
.items-SPLASH_POTION_OF_FIRE_RESISTANCE { left: 128px; top: 1792px; }
.items-POTION_OF_POISON { left: 256px; top: 1792px; }
.items-POTION_OF_POISON { left: 384px; top: 1792px; }
.items-POTION_OF_POISON { left: 512px; top: 1792px; }
.items-SPLASH_POTION_OF_POISON { left: 640px; top: 1792px; }
.items-SPLASH_POTION_OF_POISON { left: 768px; top: 1792px; }
.items-SPLASH_POTION_OF_POISON { left: 896px; top: 1792px; }
.items-POTION_OF_HEALING { left: 1024px; top: 1792px; }
.items-POTION_OF_HEALING { left: 1152px; top: 1792px; }
.items-SPLASH_POTION_OF_HEALING { left: 1280px; top: 1792px; }
.items-SPLASH_POTION_OF_HEALING { left: 1408px; top: 1792px; }
.items-POTION_OF_NIGHT_VISION { left: 1536px; top: 1792px; }
.items-POTION_OF_NIGHT_VISION { left: 1664px; top: 1792px; }
.items-SPLASH_POTION_OF_NIGHT_VISION { left: 1792px; top: 1792px; }
.items-SPLASH_POTION_OF_NIGHT_VISION { left: 1920px; top: 1792px; }
.items-POTION_OF_WEAKNESS { left: 2048px; top: 1792px; }
.items-POTION_OF_WEAKNESS { left: 2176px; top: 1792px; }
.items-SPLASH_POTION_OF_WEAKNESS { left: 2304px; top: 1792px; }
.items-SPLASH_POTION_OF_WEAKNESS { left: 2432px; top: 1792px; }
.items-POTION_OF_STRENGTH { left: 2560px; top: 1792px; }
.items-POTION_OF_STRENGTH { left: 2688px; top: 1792px; }
.items-POTION_OF_STRENGTH { left: 2816px; top: 1792px; }
.items-SPLASH_POTION_OF_STRENGTH { left: 2944px; top: 1792px; }
.items-SPLASH_POTION_OF_STRENGTH { left: 3072px; top: 1792px; }
.items-SPLASH_POTION_OF_STRENGTH { left: 3200px; top: 1792px; }
.items-POTION_OF_SLOWNESS { left: 3328px; top: 1792px; }
.items-POTION_OF_SLOWNESS { left: 3456px; top: 1792px; }
.items-SPLASH_POTION_OF_SLOWNESS { left: 3584px; top: 1792px; }
.items-SPLASH_POTION_OF_SLOWNESS { left: 3712px; top: 1792px; }
.items-POTION_OF_LEAPING { left: 3840px; top: 1792px; }
.items-POTION_OF_LEAPING { left: 3968px; top: 1792px; }
.items-POTION_OF_LEAPING { left: 0px; top: 1920px; }
.items-SPLASH_POTION_OF_LEAPING { left: 128px; top: 1920px; }
.items-SPLASH_POTION_OF_LEAPING { left: 256px; top: 1920px; }
.items-SPLASH_POTION_OF_LEAPING { left: 384px; top: 1920px; }
.items-POTION_OF_HARMING { left: 512px; top: 1920px; }
.items-POTION_OF_HARMING { left: 640px; top: 1920px; }
.items-SPLASH_POTION_OF_HARMING { left: 768px; top: 1920px; }
.items-SPLASH_POTION_OF_HARMING { left: 896px; top: 1920px; }
.items-POTION_OF_WATER_BREATHING { left: 1024px; top: 1920px; }
.items-POTION_OF_WATER_BREATHING { left: 1152px; top: 1920px; }
.items-SPLASH_POTION_OF_WATER_BREATHING { left: 1280px; top: 1920px; }
.items-SPLASH_POTION_OF_WATER_BREATHING { left: 1408px; top: 1920px; }
.items-POTION_OF_INVISIBILITY { left: 1536px; top: 1920px; }
.items-POTION_OF_INVISIBILITY { left: 1664px; top: 1920px; }
.items-SPLASH_POTION_OF_INVISIBILITY { left: 1792px; top: 1920px; }
.items-SPLASH_POTION_OF_INVISIBILITY { left: 1920px; top: 1920px; }
.items-GLASS_BOTTLE { left: 2048px; top: 1920px; }
.items-SPIDER_EYE { left: 2176px; top: 1920px; }
.items-FERMENTED_SPIDER_EYE { left: 2304px; top: 1920px; }
.items-BLAZE_POWDER { left: 2432px; top: 1920px; }
.items-MAGMA_CREAM { left: 2560px; top: 1920px; }
.items-BREWING_STAND { left: 2688px; top: 1920px; }
.items-CAULDRON { left: 2816px; top: 1920px; }
.items-EYE_OF_ENDER { left: 2944px; top: 1920px; }
.items-GLISTERING_MELON { left: 3072px; top: 1920px; }
.items-SPAWN_CREEPER { left: 3200px; top: 1920px; }
.items-SPAWN_SKELETON { left: 3328px; top: 1920px; }
.items-SPAWN_SPIDER { left: 3456px; top: 1920px; }
.items-SPAWN_ZOMBIE { left: 3584px; top: 1920px; }
.items-SPAWN_SLIME { left: 3712px; top: 1920px; }
.items-SPAWN_GHAST { left: 3840px; top: 1920px; }
.items-SPAWN_ZOMBIE_PIGMAN { left: 3968px; top: 1920px; }
.items-SPAWN_ENDERMAN { left: 0px; top: 2048px; }
.items-SPAWN_CAVE_SPIDER { left: 128px; top: 2048px; }
.items-SPAWN_SILVERFISH { left: 256px; top: 2048px; }
.items-SPAWN_BLAZE { left: 384px; top: 2048px; }
.items-SPAWN_MAGMA_CUBE { left: 512px; top: 2048px; }
.items-SPAWN_BAT { left: 640px; top: 2048px; }
.items-SPAWN_WITCH { left: 768px; top: 2048px; }
.items-SPAWN_ENDERMITE { left: 896px; top: 2048px; }
.items-SPAWN_GUARDIAN { left: 1024px; top: 2048px; }
.items-SPAWN_PIG { left: 1152px; top: 2048px; }
.items-SPAWN_SHEEP { left: 1280px; top: 2048px; }
.items-SPAWN_COW { left: 1408px; top: 2048px; }
.items-SPAWN_CHICKEN { left: 1536px; top: 2048px; }
.items-SPAWN_SQUID { left: 1664px; top: 2048px; }
.items-SPAWN_WOLF { left: 1792px; top: 2048px; }
.items-SPAWN_MOOSHROOM { left: 1920px; top: 2048px; }
.items-SPAWN_OCELOT { left: 2048px; top: 2048px; }
.items-SPAWN_HORSE { left: 2176px; top: 2048px; }
.items-SPAWN_RABBIT { left: 2304px; top: 2048px; }
.items-SPAWN_VILLAGER { left: 2432px; top: 2048px; }
.items-BOTTLE_O'_ENCHANTING { left: 2560px; top: 2048px; }
.items-FIRE_CHARGE { left: 2688px; top: 2048px; }
.items-BOOK_AND_QUILL { left: 2816px; top: 2048px; }
.items-WRITTEN_BOOK { left: 2944px; top: 2048px; }
.items-EMERALD { left: 3072px; top: 2048px; }
.items-ITEM_FRAME { left: 3200px; top: 2048px; }
.items-FLOWER_POT { left: 3328px; top: 2048px; }
.items-CARROT { left: 3456px; top: 2048px; }
.items-POTATO { left: 3584px; top: 2048px; }
.items-BAKED_POTATO { left: 3712px; top: 2048px; }
.items-POISONOUS_POTATO { left: 3840px; top: 2048px; }
.items-EMPTY_MAP { left: 3968px; top: 2048px; }
.items-GOLDEN_CARROT { left: 0px; top: 2176px; }
.items-SKELETON_SKULL { left: 128px; top: 2176px; }
.items-WITHER_SKELETON_SKULL { left: 256px; top: 2176px; }
.items-ZOMBIE_HEAD { left: 384px; top: 2176px; }
.items-HEAD { left: 512px; top: 2176px; }
.items-CREEPER_HEAD { left: 640px; top: 2176px; }
.items-CARROT_ON_A_STICK { left: 768px; top: 2176px; }
.items-NETHER_STAR { left: 896px; top: 2176px; }
.items-PUMPKIN_PIE { left: 1024px; top: 2176px; }
.items-FIREWORK_ROCKET { left: 1152px; top: 2176px; }
.items-FIREWORK_STAR { left: 1280px; top: 2176px; }
.items-ENCHANTED_BOOK { left: 1408px; top: 2176px; }
.items-REDSTONE_COMPARATOR { left: 1536px; top: 2176px; }
.items-NETHER_BRICK { left: 1664px; top: 2176px; }
.items-NETHER_QUARTZ { left: 1792px; top: 2176px; }
.items-MINECART_WITH_TNT { left: 1920px; top: 2176px; }
.items-MINECART_WITH_HOPPER { left: 2048px; top: 2176px; }
.items-PRISMARINE_SHARD { left: 2176px; top: 2176px; }
.items-PRISMARINE_CRYSTALS { left: 2304px; top: 2176px; }
.items-RAW_RABBIT { left: 2432px; top: 2176px; }
.items-COOKED_RABBIT { left: 2560px; top: 2176px; }
.items-RABBIT_STEW { left: 2688px; top: 2176px; }
.items-RABBIT'S_FOOT { left: 2816px; top: 2176px; }
.items-RABBIT_HIDE { left: 2944px; top: 2176px; }
.items-ARMOR_STAND { left: 3072px; top: 2176px; }
.items-IRON_HORSE_ARMOR { left: 3200px; top: 2176px; }
.items-GOLD_HORSE_ARMOR { left: 3328px; top: 2176px; }
.items-DIAMOND_HORSE_ARMOR { left: 3456px; top: 2176px; }
.items-LEAD { left: 3584px; top: 2176px; }
.items-NAME_TAG { left: 3712px; top: 2176px; }
.items-MINECART_WITH_COMMAND_BLOCK { left: 3840px; top: 2176px; }
.items-RAW_MUTTON { left: 3968px; top: 2176px; }
.items-COOKED_MUTTON { left: 0px; top: 2304px; }
.items-WHITE_BANNER { left: 128px; top: 2304px; }
.items-ORANGE_BANNER { left: 256px; top: 2304px; }
.items-MAGENTA_BANNER { left: 384px; top: 2304px; }
.items-LIGHT_BLUE_BANNER { left: 512px; top: 2304px; }
.items-YELLOW_BANNER { left: 640px; top: 2304px; }
.items-LIME_BANNER { left: 768px; top: 2304px; }
.items-PINK_BANNER { left: 896px; top: 2304px; }
.items-GRAY_BANNER { left: 1024px; top: 2304px; }
.items-LIGHT_GRAY_BANNER { left: 1152px; top: 2304px; }
.items-CYAN_BANNER { left: 1280px; top: 2304px; }
.items-PURPLE_BANNER { left: 1408px; top: 2304px; }
.items-BLUE_BANNER { left: 1536px; top: 2304px; }
.items-BROWN_BANNER { left: 1664px; top: 2304px; }
.items-GREEN_BANNER { left: 1792px; top: 2304px; }
.items-RED_BANNER { left: 1920px; top: 2304px; }
.items-BLACK_BANNER { left: 2048px; top: 2304px; }
.items-SPRUCE_DOOR { left: 2176px; top: 2304px; }
.items-BIRCH_DOOR { left: 2304px; top: 2304px; }
.items-JUNGLE_DOOR { left: 2432px; top: 2304px; }
.items-ACACIA_DOOR { left: 2560px; top: 2304px; }
.items-DARK_OAK_DOOR { left: 2688px; top: 2304px; }
.items-MUSIC_DISC { left: 2816px; top: 2304px; }
.items-MUSIC_DISC { left: 2944px; top: 2304px; }
.items-MUSIC_DISC { left: 3072px; top: 2304px; }
.items-MUSIC_DISC { left: 3200px; top: 2304px; }
.items-MUSIC_DISC { left: 3328px; top: 2304px; }
.items-MUSIC_DISC { left: 3456px; top: 2304px; }
.items-MUSIC_DISC { left: 3584px; top: 2304px; }
.items-MUSIC_DISC { left: 3712px; top: 2304px; }
.items-MUSIC_DISC { left: 3840px; top: 2304px; }
.items-MUSIC_DISC { left: 3968px; top: 2304px; }
.items-MUSIC_DISC { left: 0px; top: 2432px; }
.items-MUSIC_DISC { left: 128px; top: 2432px; }
